@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* this is the header part  */
.Header_option{
  display: flex;
  flex-direction: column;
}

.Icon{
  width: 16px;
  height: 16px;
  border-radius: 100px ;

}
/* 
#Serchbox{
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
} */
.Serchbox{
  height: 12px;
  /* padding: 10px; */
  border: none;
  width: 100%;

}

.Header_option_line_two{
  font-size: 10px;
  font-weight: 800;
}
.Header_option_line_one{

}






/* home partd is header option home part  */
.Home_Product{
  display: flex; 
  gap: 10px;
  justify-content: center ;
  border: 2px solid black;
  padding: 10px;

}
.demo{
  height: 100px;
  width: auto;
  background: #000;
}